header {
  background-color: rgba(255,255, 255 ,0.87);

  top: 0;
  box-shadow: 0px 3px 5px #D9D3CB;
  width: 100%;
  padding: 30px;
    padding-top: 20px;
 }
 .inline-block {
    float: right;
    vertical-align: top;
    padding: 1%;
    width: 500px;
    
 }
 .tabs{
 
  vertical-align: top;
  }
 .LOGO {
    width: 200%;
    padding: 10%;
    text-align: center;
 }



 .heroimg{
  display: inline-flex;
  padding: 10px;
 }
 .selfimage{
   flex-direction: row;
   border-radius: 50%;
   border: solid 5px #7B031F;
   flex-direction: column;
   display: inline-flex;
 }
  
 ul {
    width: 50%;
    margin-left: auto;
    font-family: -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Oxygen, Ubuntu, Cantarell, ‘Open Sans’, ‘Helvetica Neue’, sans-serif;
    color: white;
 }
 .heroImg {
    height: 500px;
    padding: 25px;
 }
 .content {
    width: 500px;
    margin: 0 auto;
 }
 button {
    background-color:#CCE0E4;
    font-size: 16px;
    color: black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
 }
 button:hover{
    background-color: #7B031F;
    color: white;
    border: black;

 }
 footer {
    background-color:#CCE0E4;
    padding: 30px;
    padding-top: 20px;
    text-decoration: none;
    font-family:arial;
    font-size: 18px;
    width: 100%;
    color: black;
    align-items: baseline;}
  
    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(360deg);
        }
        100% {
          transform: rotate(720deg);
        }
      }
      .preloader{
        position: fixed;
        width: 100%;
        z-index: 100000;
        background-color: white;
        top: 0;
        display: flex;
        align-items: center;
      }
      .preloader img{
        animation: spin 3s ease-out;
        width: 50px;
      }
  
 .text{
  font-size: 16px;
  color: black;
  margin-left: auto;
  display: inline;
 }
 .p{
  font-size: 16px;
 }
 .flexContainer{
  flex-direction: initial;
  display: flex;
  width: 100%;
  padding: 100px;
  margin: auto;
 }
  
 .workGrid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
 }
 @media only screen and (max-width:600px){
 body{
  display: flex ;
  flex-direction: column;
  width: 100%;
  
 }
 }
 .allprojects{
  display: flex;
  justify-content: center;
  border-radius: 0;
 }
 .responsive:hover{
  background-color: red;
 }
 .nav-item, nav-link{
    color: black;
 } 
.card{
   display: inline-block;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   width: 300px;
   height: 350px;
      
}

.accordion {
   
   color:black;
   cursor: pointer;
   padding: 40px;
   width: 100%;
   text-align: left;
   border: none;
   outline: none;
   transition: 0.4s;
   border-radius: 0%;
  
}
.accordion{
   padding: 10px;
  
}
 .accordion:hover {
      background-color:#7B031F;
      color: white;
    }
 .panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
      justify-content: space-evenly;
    }
.card-text1{
   font-size: 18px;
}
.card-text2{
       font-size: 18px;

    }
.card-text3{
   font-size: 18px;
}

.teamplayerlogo{
   height: 50px;
}
.responsivelogo{
   height: 50px;
}
.adobelogo{
height: 50px;
}
.maincolor{
   background-color:#CCE0E4;
}

.nav-item{
   color: white;
}
.btn-outline-danger{
   background-color: #7B031F;
   color: white;
}

.detail{
   padding: 10px;
}

.display-4{
   color: white;
text-shadow: 1px 1px 2px black, 0 0 25px #FEB82B, 0 0 5px #FEB82B;
}